.container_modalEnd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn_modal {
    position: relative;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: 3s ease;

}

.btn_modal:hover {
    top: 5px;
    background-color: green;
    transition: 1s ease;
}
