.container_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.new_game_visible {
    opacity: 1;
}
.new_game_none {
    opacity: 0;
}

.btn_modal {
    position: relative;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: 3s ease;

}

.btn_modal:hover {
    top: 5px;
    background-color: green;
    transition: 1s ease;
}

.btn_modal_none {
    opacity: 0;
}

.end_game {
    display: flex;
    flex-direction: column;
    align-items: center;
}